{% extends 'base.html' %}
 {% load static %}
 {% block bady %}
 <section class="education background1" id="about" style="background-image:url({% static 'images/sadav8.jpg' %}) ;">
        <h2 class="text-center">Our education quality </h2>
        
     <div id="clients" >
     <div class="clients-item" id="dean">
      <img src={% static 'images/sadav9.jpg' %} alt="our client">
      <p>
        One answer lies in a classroom of a former sundown town—mine. Last fall, my students and I spent our daily 48 minutes analyzing an article from our local paper, an investigation of the town’s historical relationship with the KKK. At the end of a lesson, I found one of my students gripped to his seat by his own family’s history with the group.
      </p>
     </div>
     <div class="clients-item" id="coordinator">
       <img src={% static 'images/sadav10.jpg' %} alt="our client">
       <p>
        Many students associate whiteness with guilt for their own privilege, shame for historical atrocities or fear of discrediting personal achievements—not with the opportunity for allyship. Not surprisingly, students need practice and support in shifting this mindset. My job, as an educator, is to give them the opportunity to consider anti-racist perspectives
       </p>
      </div>

      <div class="clients-item" id="hod">
       <img src={% static 'images/sadav7.jpg' %} alt="our client">
       <p>Educators must acknowledge that feeling comfortable, staying silent, and not entering difficult conversations about white privilege is, well, privilege.we want to get our student more telented in the world.we all try do to my best in my education  sector and uor teacher is responsilbe for it</p>
      </div>

      <div class="clients-item" id="faclity">
       <img src={% static 'images/sadav5.jpg' %} alt="our client">
       <p>Facilitating an anti-racist classroom is a commitment to learning. Anti-racist professional development often focuses on fostering cultural competency skills in educators of diverse classrooms, with good reason. However, the consequence of this focus means that many non-diverse schools aren’t privy to professional development about discussing race, let alone white privilege, in the classroom
        </p>
      </div>
</div> 
       
     </section>
     {% endblock bady %}
