{% extends 'base.html' %}
{% load static %}
{% block bady %}

    <section class="section" id="services">
        <div class="paras">
        <p class="sectiontag text-big">The end of your search is here</p>
        <p class="sectionsubtag text-small">
            As educators, we’re taught to begin with the end in mind. To be successful, we need to know our intended outcome so we can backward plan how we will get there. I know that many educators looked toward 2020 as a year of change, a year of hope, and a year of clarity—“20/20 vision.” I, too, began the year thinking about what I wanted to see accomplished by the year’s end: social and emotional justice, an end to the school-to-prison pipeline, a closing of the belief gap, and maybe a few trips. However, no one could have predicted that a global pandemic was on the horizon. 
           In February 2020, we learned exactly what we were up against. Reflecting on the year now, it is unfathomable that we’ve lost more than 300,000 beautiful souls to this disease and, even worse, that inaction by the current administration is largely the cause of the unnecessary loss of life. </p>
        </div>
        <div class="sada">
            <img src={% static 'images/sadav5.jpg' %} width="256px" height="256px" alt="sada">
        </div>
    </section >
   
    <section class="section left">
        <div class="paras">
        <p class="sectiontag text-big">Transfoming education in india</p>
        <p class="sectionsubtag text-small">This year also brought a reckoning of the injustices that have plagued our country since its inception. The brutal lynching of Ahmaud Arbery reminded us of the words of Joseph Lowery, everything has changed and nothing has changed. We saw Breonna Taylor senselessly lose her life only to receive no justice in the end. By the time May was upon us, watching the death of George Floyd was like receiving one bolo punch after another and another.This year also brought a reckoning of the injustices that have plagued our country since its inception. The brutal lynching of Ahmaud Arbery reminded us of the words of Joseph Lowery, everything has changed and nothing has changed. We saw Breonna Taylor senselessly lose her life only to receive no justice in the end. By the time May was upon us, watching the death of George Floyd was like receiving one bolo punch after another and another.  </p>
        </div>
        <div class="sada">
            <img src={% static 'images/sadav6.jpg' %} width="256px" height="256px" alt="sada">
        </div>
    </section>
    <section class="section">
        <div class="paras">
        <p class="sectiontag text-big">Lets grow your knowladge</p>
        <p class="sectionsubtag text-small">It is exhausting knowing that after all these years, the issues surrounding underserved students have not been resolved. And the little progress made to eradicate racial discrimination in our schools was dismantled, not only because of an ill-qualified secretary of education, but also—and ultimately—because the system of racism is so deeply and inherently ingrained in the very fabric of our society that there is a fear of those who have been “othered” progressing by those in the majority. 
         After all the marching and protesting—the largest movement in history—this summer, the outcome was an awakening to the issue of racism in 2020. If our goal was to make people aware, then we accomplished that goal. However, the end goal is to create an anti-racist society, and without a clear plan, we will not have moved the needle. </p>
        </div>
        <div class="sada">
            <img src={% static 'images/sadav7.jpg' %} width="256px" height="256px" alt="sada">
        </div>
    </section>
{% endblock bady %}

